<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Mi Negocio"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <activity
    android:name=".MainActivity"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

  </activity>          

<activity
    android:name=".ui.InventoryActivity"
    android:exported="false"/>

<activity
    android:name=".ui.PurchaseActivity"
    android:exported="false"/>

<activity
    android:name=".ui.SalesActivity"
    android:exported="false"/>

<activity
    android:name=".ui.ReportsActivity"
    android:exported="false"/>

<activity
    android:name=".ui.ExpenseActivity"
    android:exported="false"/>

<activity
    android:name=".ui.RawMaterialActivity"
    android:exported="false"/>

<activity
    android:name=".ui.RecipeActivity"
    android:exported="false"/>

<activity
    android:name=".ui.HistoryActivity"
    android:exported="false"/>
        
    </application>

</manifest>
